#corpo {
    grid-area: main;
    background-color: goldenrod;
}


.template {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 1rem;
    margin: 2em;
}
.card {
    display: grid;
    grid-template-rows: 500px auto ;
    gap: 0.8rem;
}
.card h3 {
    font-size: 30px;
}
.card-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    height: 4.8em;
}
.card-image {
    border: 2px solid #000000;
    width: 100%;
    height:  100%;
    object-fit: cover;
    border-radius: 8px
}