
#sidebar {
    grid-area: sidebar;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    background-color: goldenrod;
    border-right: 4px solid #000000;
}
#sidebar h2 {
    background-color: #000000d3;
    margin: 15px;
    padding: 0.6em;
    font-weight: 900;
    color: #ffffffc3;
    font-size: 2.5em;
    border-radius: 15px;
    border: 1px solid #ffffff

}
#sidebar ul a {
    list-style: none;
    border: 0.5px solid #000;
    background-color: #000000d3;
    padding: 0.4em;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.8em;

}

#sidebar ul li {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1em;
}